header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding-inline: 1rem;
  margin-block-start: 40px;
  border-radius: 1rem;
  border: 1px solid var(--header-border);
  box-shadow: var(--box-shadow);

  button {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 0.825rem;
    padding: 0.525rem;
    overflow: hidden;
    background-color: var(--theme-toggle-btn-bg);
    transition: outline 0ms, background-color 150ms;

    &:hover {
      background-color: var(--theme-toggle-btn-hover-bg);
    }
    &:focus-visible {
      background-color: var(--theme-toggle-btn-focus-bg);
    }
  }
}

.logo-clr {
  fill: var(--logo-clr);
}

.extenstion-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 4rem 2.325rem;

  h1 {
    margin: 0;
  }

  @media (width < 700px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.extenstion-navigation nav {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.nav-btn {
  background-color: var(--nav-btn-bg);
  border: 1px solid var(--nav-btn-border);
  font-size: 1.125rem;
  padding-block: 0.425rem 0.525rem;
  padding-inline: 1.225rem;
  border-radius: 1000px;
  box-shadow: 0 1px 5px hsl(0, 0%, 20%, 0.1);
  transition: outline 0ms, background-color 150ms, border 150ms;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    opacity: 1;
    background-color: var(--nav-btn-focus-bg);
  }
}

.nav-btn.selected {
  background-color: var(--nav-btn-selected-bg);
  color: var(--nav-btn-selected-clr);
  border: 1px solid var(--nav-btn-selected-border);

  &:hover {
    opacity: 1;
    background-color: var(--nav-btn-selected-hover-bg);
  }
}

.extension-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 1rem;
  height: 100%;
}

.empty-page {
  height: calc(100vh - 260px);
  display: grid;
  place-items: center;

  @media (width < 700px) {
    height: calc(100vh - 315px);
  }
}

.empty-page div {
  display: grid;
  background-color: var(--each-extension-bg);
  border: 1px solid var(--each-extension-border);
  border-radius: 1.325rem;
  box-shadow: var(--box-shadow);
  padding: 1.225rem;

  translate: 0 -20px;
  scale: 0.9;
  opacity: 0;
  transition: translate 250ms, scale 250ms, opacity 300ms;

  span {
    text-align: center;
  }
}

.empty-page div.appear {
  translate: 0 0;
  scale: 1;
  opacity: 1;
}

.empty-page button {
  font-size: 1.125rem;
  border-radius: 0.825rem;
  padding-block: 0.425rem 0.525rem;
  overflow: hidden;
  background-color: var(--theme-toggle-btn-bg);
  transition: outline 0ms, background-color 150ms;
  margin-block-start: 1rem;

  &:hover {
    background-color: var(--theme-toggle-btn-hover-bg);
  }
  &:focus-visible {
    background-color: var(--theme-toggle-btn-focus-bg);
  }
}

.each-extension {
  background-color: var(--each-extension-bg);
  border: 1px solid var(--each-extension-border);
  border-radius: 1.325rem;
  box-shadow: var(--box-shadow);
  padding: 1.225rem;
  max-width: 580px;

  display: grid;
  gap: 0.5rem;
  align-content: space-between;

  //! transitions
  translate: 10px -20px;
  opacity: 0;
  scale: 0.9;
  transition: 200ms;

  @media (width < 700px) {
    translate: 0 -10px;
    scale: 0.95;
  }
}

.each-extension > div:first-child {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  min-height: 120px;

  * {
    margin: 0;
  }

  div {
    display: grid;
    gap: 0.325rem;
  }

  h2 {
    font-size: 1.225rem;
    letter-spacing: -0.5px;
  }
  p {
    color: var(--each-extension-description-clr);
    letter-spacing: -0.3px;
  }
}

.each-extension > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove-btn {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 1000px;
  border: 1px solid var(--ext-remove-btn-border);
  transition: outline 0ms, background-color 150ms, border 150ms, color 150ms;

  &:hover {
    border: 1px solid var(--ext-remove-btn-hover-border);
    background-color: var(--ext-remove-btn-hover-bg);
    color: var(--ext-remove-btn-hover-clr);
  }

  &:focus-visible {
    color: #fff;
    border-color: transparent;
    background-color: var(--ext-remove-btn-focus-bg);
  }
}

.extension-toggle-label {
  position: relative;
  transition: scale 100ms;

  &:active {
    scale: 0.98;
  }

  @media (width > 499px) {
    cursor: pointer;
  }
}
.extension-toggle-btn {
  width: 38px;
  height: 20px;
  border-radius: 1000px;
  background-color: var(--ext-toggle-btn-bg);
  border: 2px solid var(--ext-toggle-btn-border);
  position: relative;
  transition: background-color 150ms, border 150ms;
}

.extension-toggle-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  transition: translate 200ms;
}

input[type='checkbox'] {
  position: absolute;
  outline: none;
}

input[type='checkbox']:checked + div {
  background-color: var(--ext-toggle-btn-checked-bg);
  border-color: var(--ext-toggle-btn-checked-border);

  &:hover {
    background-color: var(--ext-toggle-btn-checked-hover-bg);
    border-color: var(--ext-toggle-btn-checked-hover-border);
  }
}

input[type='checkbox']:checked + div::before {
  translate: 100% 0;
}

input[type='checkbox']:focus-visible + div {
  outline: 2px solid var(--default-outline-clr);
  outline-offset: 2px;
}


//! footer styling
footer {
  padding-inline: 1.5rem;
  padding-block: 10rem 2rem;

  text-align: center;

  a {
    color: var(--ext-toggle-btn-checked-bg);
    text-underline-offset: 1px;
    transition: all 200ms;
    font-weight: 500;
  }
  a:hover {
    text-underline-offset: 5px;
  }
}