@font-face {
  font-family: 'Noto sans';
  src: url('../assets/fonts/noto-sans-v39-latin-700.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Noto sans';
  src: url('../assets/fonts/noto-sans-v39-latin-500.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto sans';
  src: url('../assets/fonts/noto-sans-v39-latin-regular.woff2');
  font-weight: 400;
}